label {
    display: inline-block;
    width: 120px;
    padding: 12px;
    margin: none;
    height: 50px;
    border: 1px solid #252525;
    color: #5D5D5D;
    background-color: #252525;
    box-shadow: 4px 0px 6px rgba(255, 255, 255, 0.02);
    transition: 0.5s;

}
input[type="radio"] {
    display:none;
}
input[type="radio"]:checked + label {
    border: solid 1px #ebebeb;
    color: #ebebeb;
    background-color: #202020;
    background-color: #303030;
    transition: 0.5s;
    
}
label{
    border-radius: 5px 0px 0px 5px;
}
label:last-child{
    border-radius: 0px 5px 5px 0px;
}
.icone{
    margin-right: 1em;
}
ul li {
    margin: 1.5rem 0px;
}

.no-background{
    background-color: transparent;
}
body{
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

/* NEW BULMA CLASSES */

.is-vertical-center {
    display: flex;
    align-items: center;
  }
  
.shrink{
    animation: 0.35s ease-out 0s 1 slideOut;
}
.grow{
    animation: 0.35s ease-in 0s 1 slideIn;
}

@keyframes slideIn{
    0% {
      transform: translateX(+100%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
}

@keyframes slideOut{
  0% {
    transform: translateX(0);
    opacity: 0%;
  }
  100% {
    transform: translateX(+100%);
    opacity: 100%;
  }
}
